<header>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-13RGJCBS72"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-13RGJCBS72');
</script>  
  <nav>
      <div class="logo">
        <a href="/">Henry Russell</a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/highlights/">Highlights</a></li>
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>